{% extends 'base.html' %} {% load static %}
{% block head %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row my-5 px-5 justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center">Personnaliser votre image</h2>
              <form method="post" enctype="multipart/form-data" class="d-flex flex-column justify-content-center">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="files" class="form-label">Images</label>
                    {{ form.files }}
                </div>
                <div class="mb-1">
                    <label for="url" class="form-label">URL</label>
                    <div class="input-group mb-3">
                        {{ form.url }}
                        <button class="btn btn-outline-secondary" type="button" id="add-button">Ajouter une image</button>
                    </div>
                    {{ form.url_list }}
                </div>
                
                <div id="images"></div>

                <button class="btn btn-outline-danger w-25 mb-4" type="button" id="clear-button">Supprimer les images</button>
                
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="transform_type" class="form-label">Type de transformation</label>
                        {{ form.transform_type }}
                    </div>
                </div>
        
                <section id="parameters-zone">
                    <div class="parameters-group d-none" id="fusion">
                        <h4>Paramètre de la fusion</h4>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Ratio</label>
                            {{ form.fusion_ratio }}
                        </div>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Position x de la deuxième image par rapport à la première image</label>
                            {{ form.fusion_x }}
                        </div>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Position y de la deuxième image par rapport à la première image</label>
                            {{ form.fusion_y }}
                        </div>
                    </div>
                    <div class="parameters-group d-none" id="resize">
                        <h4>Paramètre de redimensionnement</h4>
                        <div class="mb-3">
                            <label for="resize_width" class="form-label">Hauteur</label>
                            {{ form.resize_width }}
                        </div>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Largeur</label>
                            {{ form.resize_height }}
                        </div>
                    </div>
                    <div class="parameters-group d-none" id="alignment">
                        <h4>Paramètre de l'alignement</h4>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Direction</label>
                            {{ form.alignment_direction }}
                        </div>
                    </div>
                    <div class="parameters-group d-none" id="gif">
                        <h4>Paramètre du GIF</h4>
                        <div class="mb-3">
                            <label for="fusion_ratio" class="form-label">Temps de transition (en ms)</label>
                            {{ form.gif_duration }}
                        </div>
                    </div>
                </section>
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <button type="submit" id="submit" class="btn primary-bg-color text-white">Personnaliser mon image</button>
                </form>
            </div>
          </div>
    </div>

    {% if image %}
        <div class="col-6">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Résultat</h2>
                <a href="{{ image }}" class="btn primary-bg-color text-white" download>
                    Télécharger le résultat
                </a>
            </div>
            <img src="{{ image }}" class="card-img-bottom" alt="image result"/>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
